{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 1 version",
            "> 1%",
            "maintained node versions",
            "not dead"
          ]
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      },
      "ant"
    ],
    [
      "import",
      {
        "libraryName": "antd-mobile",
        "libraryDirectory": "lib"
      },
      "antd-mobile"
    ],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "lodash"
    ],
    ["@babel/plugin-syntax-dynamic-import"]
  ]
}
