// 页面整体布局
.layout {
  clear: both;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// applet 页面布局
.applet {
  clear: both;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-width: 1200px;
}
